<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.example.rcpmvc.demo.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="com.example.rcpmvc.demo.Perspective"
            id="com.example.rcpmvc.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="de.ralfebert.rcpmvc.spring.SpringViewFactory"
            id="com.example.rcpmvc.demo.calculator"
            name="Calculator"
            restorable="true">
      </view>
   </extension>

</plugin>
